<html>
  <head>
    <meta charset="big5">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <%= stylesheet_link_tag "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    <title> URL </title>

  </head>

<div id="url" style="display:none"></div>

<% @array.each do |c| %>
<div> <%= c %></div>

<% end %>
</html>